:host {
	font-size: medium;
}

section {
	flex: 4;
}

ul {
	flex: 5;
}

@media (max-width: 480px) {
	section {
		flex: 2;
	}

	h1 {
		font-size: 1.5em;
	}
}

@media (max-height: 480px) {
	section {
		flex: 7;
	}
}