:host {
	display: none;
	font-size: medium;
	position: relative;
  color: white;
}

header, main, footer {
	display: none;
	z-index: 100;
	position: absolute;
	width: 100%;
}

header {
	text-align: center;
  opacity: 0.5;
  margin-top: 44%;
}

main {
	text-align: center;
	margin-top: 5%;
}

footer {    
  float: left;
}

button {
	font-size: large;
	padding: 5px 40px;
	cursor: pointer;
}

@media (max-width: 480px), (max-height: 480px) {
  :host {
      font-size: small;
  }

  header {
      margin-top: 39%;
  }

  tl-robot {
		display: none;
	}
}

@media (max-height: 480px) {
  header {
      margin-top: 43%;
  }
}

svg {
    width: 100%;
}

text {
  animation: animate ease-in-out 2s infinite;
}

@keyframes animate {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.st0{fill:grey;} /* #E6E7E8 */
.st1{fill:#D1D3D4;}
.st2{fill:#9b7653;} /* #F4F4F4 */
.st3{fill:#BCBEC0;}
.st4{fill:#231F20;}
.st5{fill:#FFFFFF;}
.st6{fill:#D36866;}
.st7{fill:#C2C4C6;}
.st8{fill:#DBDBDB;}
.st9{fill:#A7A9AC;}
.st10{fill:#808285;}

/* ====== */

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
  }
}

@keyframes swinging {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@-webkit-keyframes sleeping {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sleeping {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#swinger {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  transform-box: fill-box;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
}

#zone {
  opacity: 0;
  -webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
  animation: sleeping 3.5s ease-in-out forwards infinite;
}

#ztwo {
  opacity: 0;
  -webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
  animation: sleeping 3.5s ease-in-out forwards infinite;
  animation-delay: 0.4s;
  -website-animation-delay: 0.4s;
}

#zthree {
  opacity: 0;
  -webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
  animation: sleeping 3.5s ease-in-out forwards infinite;
  animation-delay: 0.7s;
  -website-animation-delay: 0.7s;
}

#zfour {
  opacity: 0;
  -webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
  animation: sleeping 3.5s ease-in-out forwards infinite;
  animation-delay: 1s;
  -website-animation-delay: 1s;
}

#zfive {
  opacity: 0;
  -webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
  animation: sleeping 3.5s ease-in-out forwards infinite;
  animation-delay: 1.3s;
  -website-animation-delay: 1.3s;
}