:host {
  display: none;
  font-size: medium;
  position: relative;
}

main {
  position: absolute;
  z-index: 100;
  width: 100%;
  text-align: center;
  opacity: 0.5;
  margin-top: 44%;
}

button {
  font-size: large;
  padding: 5px 40px;
  cursor: pointer;
}

@media (max-width: 480px) {
  :host {
      font-size: small;
  }

  main {
      margin-top: 39%;
  }
}